@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg, #328f8a, #08ac4b);
    font-family: "Roboto", sans-serif;
    height: 100vh;
}