/* // Import de la police */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* // Définition de la police et des couleurs de base */
body {
  font-family: 'Montserrat', sans-serif;
  color: #6A6E84;

  > .header {
    background-color: antiquewhite;
    padding: 1em 3em;
    margin-bottom: 2em;
  }

  a {
    color: #76250C;
    text-decoration: none;
  }

  h3 {
    font-weight: bold;
  }

  .button {
    background-color: #e8bd9c;
    padding: 0.6em 1em;

    &:hover {
      background-color: rgb(214, 165, 127);
    }
  }
}

/* // Navigation */
nav.main-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;

    a {
      padding: 0.5em 0;
    }
  }
}

/* // Conteneur général */
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1em;
}

/* // Section Hero */
.hero {
  .container {
    display: flex;
    flex-direction: column;

    .button {
      align-self: end;
    }
  }
}

/* // Section Programme */
.programme {
  .container {
    background-color: aliceblue;
  }

  .conferences {
    list-style-type: none;

    > li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1em;
      margin-top: 4em;

      @media screen and (max-width: 800px) {
        display: block;
        margin-top: 2em;
      }

      img {
        min-width: 300px;
        margin-right: 1em;
        margin-top: 1em;

        @media screen and (max-width: 800px) {
          width: 100%;
          min-width: 0;
          margin: 0 0 1em 0;
          order: -1;
        }
      }

      &.conference {
        .header {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
          }

          .right {
            display: flex;
            align-items: baseline;
            width: 45%;

            @media screen and (max-width: 800px) {
              width: 100%;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }
}
