

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-size: 16px;
    line-height: 30px;
    font-family: Roboto;
}

a{
   
}

.events .event {
    
}

.events .event figure {
   
}

.events .event figure .is_festik {
   
}

.events .event figure img {
   
}

.events .event figcaption {
   
}

.events .event figcaption .categorie {
   
}

.events .event figcaption .date {
    
}

.events .event figcaption .titre {
    
}