
/* Groupe */

header, main, footer, p, h2, article, li, form, a{
    padding: 1rem;
}

input, select{
    margin-left: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    justify-content: center;
    background-color: #e0e0e0;
}

main{
    display:flex
}

main figure{
    flex:1;
    margin:0;
    flex-basis: 30%;
}

main section{
    flex:1;
    margin:0;
    flex-basis: 70%;
}

main figure img{
    width:100%;
    height:auto;
}

figcaption{
    font-size: 0.8rem;
}

aside{
    background-color: #f0f0f0;
}

footer{
    background-color: #c0c0c0;
    #links{
    display: flex;
}
}




@media (max-width:800px) {
    main {
    flex-direction: column;
    }
    h1 {
        color:green;
        display: block;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        color: blue;
    }
   nav ul {
       flex-direction: row;
    
    }

}